@model IEnumerable<LanguageModel>

@{
    ViewData["Title"] = "ListOfLanguages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Languages</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persons)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>Action</th>
            }
        </tr>
    </thead>    
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @if (item.Persons != null)
                {
                    @foreach (var p in item.Persons)
                    {
                        @Html.DisplayFor(modelItem => p.Person.Name)
                        <br>
                    }
                }
            </td>
            @if (User.IsInRole("Admin"))
            {
            <td>
                <a href="#" onclick="location.href = '@Url.Action("DeleteLanguage", "Language", new { id=item.LanguageId })'">Delete</a>
                <a href="#" onclick="location.href = '@Url.Action("EditLanguage", "Language", new { id=item.LanguageId })'">Edit</a>
            </td>
            }
        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="PeopleEF" asp-action="ListOfPeopleEF">Back to People List</a>
</div>
